/.bundle/
/.byebug_history
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Editor config
.vimrc

.env.services
spec/dummy/.env.services
spec/dummy_rails/.env.services

devup-*.gem
